<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>MyStreamTimer</string>
	<key>CFBundleIdentifier</key>
	<string>com.refractored.mystreamtimer</string>
	<key>CFBundleShortVersionString</key>
	<string>2.5.5</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSHumanReadableCopyright</key>
	<string>${AuthorCopyright:HtmlEncode}</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.refractored.mystreamtimer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mystreamtimer</string>
			</array>
			<key>CFBundleURLTypes</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleSupportedPlatforms</key>
	<string>MacOSX</string>
	<key>CFBundleVersion</key>
	<string>43</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>If you would like to store files on the desktop, will need permission.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>If you would like to store files in the documents folder, will need permission.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>If you would like to store files in the downloaded folder, will need permission.</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>If you would like to store files on network volumes, will need permission.</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>If you would like to store files on removeable storage, will need permission.</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>If you would like to store files via file provider domain, will need permission.</string>
	<key>DTPlatformBuild</key>
	<string>13C100</string>
	<key>DTPlatformVersion</key>
	<string>12.1</string>
	<key>DTSDKBuild</key>
	<string>21C46</string>
	<key>DTSDKName</key>
	<string>macosx12.1</string>
	<key>DTXcode</key>
	<string>1321</string>
	<key>DTXcodeBuild</key>
	<string>13C100</string>
</dict>
</plist>
